bsis_mot_hello_world.yml
bsis_mot_fleet.yml
bsis_mot.yml
bsis_run
hello_world_mot
spot_spec_mot.json
*.pem
*.swp
*.pyc
.vscode
asis_mot.yml
cloud-init-mot.sh
bsis_mot_hello_world_env.yml
bsis_mot_from_ami.yml
